
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20vh 70vh 15vh;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

body.isPlaying #start_button {
    display: none;
}

body.isPlaying .intro {
    display: none;
}

.screen_to_small {
    display: none;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    
}

main,
aside,
footer {
display: flex;
align-items: center;
justify-content: center;
}

footer {
    background-color: darkcyan;
    grid-column: 1 / span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: monospace;
}

header {
    background-color: cornflowerblue;
    grid-column: 1 / span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.brand_wrapper {
    height: 90%;
    margin: 1rem;
}

.brand_img {
    height: 90%;
}

main {
    grid-column: 1 / span 3;
    background-color: linen;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #551a8b;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

aside {
    grid-column: span 2;
    background-color: blueviolet;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#start_button {
    width: 200px;
    height: 80px;
    margin-top: 3%;
    background-color: lightpink;
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    color: #551a8b;
}

#reset_button {
    width: 175px;
    height: 75px;
    margin-top: 3%;
    background-color: lightpink;
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    color: #551a8b;
    margin-bottom: 1rem;
}

#reset_button:hover {
    cursor: url('./images/cursor-ice-cream.png'), auto;
}

#start_button:hover {
    cursor: url('./images/cursor-ice-cream.png'), auto;
}

.intro__copy {
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 16%;
}

.intro {
    min-height: 230px;
}

canvas {
    background-color: mediumblue;
    cursor: url('./images/target5.png'), auto;	
}

.footer__wrapper {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.credits {
    margin-right: 1rem;
    display: flex;
}

.credits__list li:first-of-type {
    list-style: none;
    font-weight: bold;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: lightskyblue;
}

.logo_wrapper {
    max-width: 150px;
    height: 100%;
    margin-top: 1.5rem;
    padding-left: 4rem;
}

.logo {
    height: 100%;
}

@media only screen and (max-width: 1200px) {

    main,
    aside {
        grid-column: 1 / span 5;
    }

    body {
        grid-template-rows: 15vh 70vh 15vh 15vh;
    }

    .container {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    p {
        padding: 1rem;
    }

    #reset_button {
        margin-left: 30%;
    }

}

@media only screen and (max-width: 1000px) {
    body {
        padding: 0;
        margin: 0;
    }
    .screen_to_small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #551a8b;
        color: white;
        font-family: 'Roboto Slab', serif;
    }
    
    .screen_to_small__header {
         margin: 3rem;
    }

    .screen_to_small__img_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .screen_to_small__img {
        width: 90%;
        max-width: 500px;
    }
}



